<h1>Editing Truck</h1>
<div class ="container center_div"></div>

<%= render 'form' %>

&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Show', @truck %>&nbsp;&nbsp;|
&nbsp;<%= link_to 'Back', truck_owners_path %>
