<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/trucks">Find</a></li>
  <li role="presentation"><a href="/signup">Register</a></li>
  <li role="presentation"><a href="/login">Login</a></li>

</ul>
