<!-- Mobile friendly first -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Link Bootstrap Icons -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="" media="screen" title="no title" charset="utf-8">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="welcome#index">Home</a></li>
  <li role="presentation"><a href="/trucks">Find</a></li>
  <li role="presentation"><a href="/signup">Register</a></li>
</ul>

<div class="center jumbotron">
  <h1 class="text-center">Welcome to Food Truck Heaven</h1>
  <h2 class="text-center">We Rule!</h2>
</br></br>
 <!-- <p class="text-center"><a class="btn btn-primary btn-lg" href="/trucks" role="button">Find Trucks</a></p>
<p class="text-center"><a class="btn btn-primary btn-lg" href="/truck_owners/new" role="button">Register Your Truck</a></p> -->


</div>
