<!-- Mobile friendly first -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Link Bootstrap Icons -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="center jumbotron">
  <h1 class="text-center">Welcome to Food Truck Heaven</h1>
  <h2 class="text-center">We Rule!</h2>
</br></br>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="/trucks" role="button">Find Trucks</a></p>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="/truck_owners/new" role="button">Register Your Truck</a></p>


</div>
<<<<<<< HEAD


<%= form_tag({welcome: :upload}, multipart: true) do %>
  <%= file_field_tag 'picture' %>
  <%= submit_tag("Upload") %>
<% end %>
=======
>>>>>>> e7259dea6c32a694ff892b08d4c5f492c89fa425
