<!-- Mobile friendly first -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Link Bootstrap Icons -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">



<!-- <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="welcome#index">Home</a></li>
  <li role="presentation"><a href="/trucks">Find</a></li>
  <li role="presentation"><a href="/signup">Register</a></li>
</ul> -->

<div class="jumbotron">
  <h1 class="text-center">Local Trucks</h1>

  <h2 class="text-center"></h2>
</br></br>

<%= form_tag({welcome: :upload}, multipart: true) do %>
  <%= file_field_tag 'picture' %>
  <%= submit_tag("Upload") %>
<% end %>

</div>
