/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.center_div{
    margin: 0 auto;
    width:38% /* value of your choice which suits your alignment */
}

div.field{
  font-family: 'Raleway';
  font-size: 12px;
}

.truck_item {
  clear: both;
  margin-left: 20%;
}
.truck_image {
  float: left;
  margin-bottom: 30px;
}
.truck_text {
  margin-left: 20px;
  display: inline-block;
}
